@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #8D8D92;

}

li, a, button{
    font-family: "Roboto Condensed";
    font-weight: 500;
    font-size: small;
    color: #8D8D92;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
